h1 {
color:rgb(46, 13, 77);
text-align: center;
}

body {
background-color: rgb(220, 233, 229);
}

h2 {
color:rgb(43, 20, 65);
text-align: center;
}

 #stacy.jpg {
    width: 100%;   
 text-align:justify;
}
